/* portfolio */


@import url('https://fonts.googleapis.com/css?family=Nunito:wght@200;300;400;600&display-swap');

/* home page left side part start */
:root{
--yellow: #f9ca24;
}

*{
font-family: 'Nunito', sans-serif;
margin:0; 
padding:0;
box-sizing: border-box;
text-decoration: none;
outline: none; 
border:none;
text-transform: capitalize;
transition: all .2s linear;
}

*::selection{
background: var(--yellow);
color:#333;
}

html{
font-size: 62.5%;
overflow-x: hidden;
}

html::-webkit-scrollbar{
width:1.4rem;
} 

html::-webkit-scrollbar-track{
background:#222;
} 

html::-webkit-scrollbar-thumb {
background:var(--yellow);
}

body{
background:#111;
overflow-x: hidden;
padding-left: 35rem;
}

header{
position: fixed;
top:0; left:0;
z-index: 1000;
height:100%;
width:35rem;
background:#1a1a1a;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
text-align: center;
}

header .user img{
height:18rem;
width:16rem;
border-radius: 50%;
object-fit: cover;
margin-bottom: 1rem;
border:.5rem solid var(--yellow);
}

header .user.name{
font-size: 3.5rem;
color:#fff;
}

header .user .post{
font-size: 2rem;
color:#eee;
}

header .user .name{
margin-bottom: 1%;
/* font-size: 2rem; */
font-size:medium;
color:#eee;
}

header .navbar{
width:100%;
}

header .navbar ul{
list-style: none;
padding:1rem 3rem;

}

header .navbar ul li a{
display: block;
padding:1rem;
margin:1.5rem 0;
background:#333;
color:#fff;
font-size: 2rem;
border-radius: 5rem;

}

header .navbar ul li a:hover{
background: var(--yellow);
}



/* home page right side part start */

.heading{
text-align: center;
margin: 0 6rem;
font-size: 4rem;
padding: .3rem;
/* padding: 1rem; */
border-bottom: .1rem solid #fff4;
color: #fff;
/* margin-top: 0rem */
}

.heading span{
color: var(--yellow);
}

.about .row{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 1rem 0;
}

.about .row .info{
flex: 1 1 48rem;
padding: 2rem 1rem;
padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color: #eee;
    padding: 0 .5rem;
}

.about .row .counter{
flex: 1 1 48rem;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.about .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
                                            /* for 100% screen all box show in one line */
    /* margin: 2rem; */
    margin: 1rem;
}
.about .row .counter .box span{
    font-size: 4rem;
    color: var(--yellow);
}
.about .row .counter .box h3{
    font-size: 2rem;
    color: #fff;
}


/* contact */
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-top: 5%
}
.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
    font-size: large;
    padding-bottom: 20%;
}

.contact .row .form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    padding-bottom: 4rem;
    padding-left: 50%;
}












/* ********************************************************************************************************* */
/* ********************************************************************************************************* */
/* ********************************************************************************************************* */
    *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       text-decoration: none;
       border: none;
       outline: none;
       scroll-behavior: smooth;
       font-family: 'Poppins', sans-serif;
    }
       
    :root {
       --bg-color: #1f242d;
       --second-bg-color:#323946;
       --text-color:#fff;
       /* --main-color:#0ef; */
       --main-color: yellow;
    }
       
    html {
       font-size: 62.5%;
       overflow-x: hidden;
       
    }
       
    body {
       background-color: #000000;
       color: var(--text-color);
    }
    section{
        min-height: 100vh;
        padding: 10rem 9% 2rem;
    }
    .home{
        position: relative;
        width: 100%;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 70px 40px 0px;
    }
    .home-img img{
        width: 26vw;
        height: 40vw;
        opacity: 0;
        animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
        animation-delay: 2s 3s;
    }
    .home-content h4{
        font-size: 3.2rem;
        font-weight: 700;
        opacity: 0;
        animation: slideBottom 1s ease forwards;
        animation-delay: .7s;
    }
    .home-content h4:nth-of-type(2){
        margin-bottom: 2rem;
        animation: slideTop 1s ease forwards;
        animation-delay: .7s;
    }
    span{
        color: var(--main-color);
    }
    .home-content h1{
        font-family: 'Nunito', sans-serif;
        font-size: 5.6rem;
        font-weight: 700;
        margin: -3px 0;
        opacity: 0;
        animation: slideRight 1s ease forwards;
        animation-delay: 1;
    }
       
    .home-content p {
        font-size: 1.6rem;
        opacity: 0;
        animation: slideleft 1s ease forwards;
        animation-delay: 1s;
    }
    
    .social-media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        font-size: 2rem;
        color: var(--main-color);
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease;
        opacity: 0;
        animation: slideleft 1s ease forwards;
        animation-delay: calc(.2s * var(--i));
    }
       
    .social-media a:hover {
       background: var(--main-color);
       color: var(--second-bg-color);
       box-shadow: 0 0 1rem var(--main-color);
    }
       
       
       .btn {
        display: inline-block;
        padding: 1rem 2.8rem;
        /* background: var(--main-color); */
        border-radius: 4rem;
        box-shadow: 0 0 1rem var(--main-color);
        font-size: 1.6rem;
        color: whitesmoke;
        letter-spacing: .1rem;
        font-weight: 600;
        transition: .5s ease;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        animation-delay: 2s;
    }

       
       /* KEYFRAMES ANIMATION */
       @keyframes slideRight{
           0%{
               transform: translateX(-100px);
               opacity: 0;
           }
           100%{
               transform: translateX(0);
               opacity: 1;
           }
       }
       @keyframes slideleft{
           0%{
               transform: translateX(100px);
               opacity: 0;
           }
           100%{
               transform: translateX(0);
               opacity: 1;
           }
       }
       @keyframes slideTop{
           0%{
               transform: translateY(100px);
               opacity: 0;
           }
           100%{
               transform: translateY(0);
               opacity: 1;
           }
       }
       @keyframes slideBottom{
           0%{
               transform: translateY(-100px);
               opacity: 0;
           }
           100%{
               transform: translateY(0);
               opacity: 1;
           }
       }
       @keyframes floatImage{
           0%{
               transform: translateY(0);
               opacity: 1;
           }
           50%{
               transform: translateY(-24px);
               opacity: 0;
           }
           100%{
               transform: translateY(0);
               opacity: 1;
           }
       }


       /* project session */

    .portfolio{
        background: var(--second-bg-color);
    }
    .services .heading{
        margin-bottom: 5%;
    }
    .portfolio h2{
        margin-bottom: 4rem;
    }
    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2.5rem;
    }
    .portfolio-container .portfolio-box{
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 1rem var(--bg-color);
        overflow: hidden; 
        display: flex;
    }
                        /* animation start */
    .portfolio-box img{    
        width: 130%;
        height: 100%;
        transition: .5s ease;
    }
    .portfolio-box:hover img{
        transform: scale(1.1);
    }
    .portfolio-box .portfolio-layer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(rgba(0, 0, 0, .1), rgb(255, 234, 0)); */
        background: linear-gradient(rgba(0, 0, 0, .1), #ffff00);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 4rem;
        transform: translateY(100%);
        transition: .5s ease;
    }
    .portfolio-box:hover .portfolio-layer{
        transform: translateY(0);
    }
                        /* animation end */

    .portfolio-layer h4 {
        font-size: 2.5rem;
    }
    .portfolio-layer p {
        font-size: 1.2rem;
        margin: .3rem 0 1rem;
    }
        
    .portfolio-layer a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background: var(--text-color);
        border-radius: 50%;
    }
    .portfolio-layer a i{
        font-size: 2rem;
                                        /* change icon color */
        color: var(--second-bg-color);
    }
/* ********************************************************************************************************* */
/* ********************************************************************************************************* */
/* ********************************************************************************************************* */




